.box{
    position: relative;
    left: 30px;
    top: 30px;
    width: 100px;
    height: 100px;
    animation: girar 40s infinite;
}

@keyframes girar {
    0% {
        transform: rotate(0deg);
        background-color: coral;
    }
    25% {
        transform: rotate(90deg);
        background-color: lightblue;
    }
    50% {
        transform: rotate(180deg);
        background-color: lightgreen;
    }
    75% {
        transform: rotate(270deg);
        background-color: lightcoral;
    }
    100% {
        transform: rotate(360deg);
        background-color: coral;
    }
}